<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/Logs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10240KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
    </layout>
  </appender>
  
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
    </layout>
  </appender>
  
  <root>
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="ConsoleAppender" />
    <level value="DEBUG" />
  </root>
  
  <logger name="NHibernate">
    <level value="WARN" />
  </logger>
  
  <logger name="Castle.Windsor">
    <level value="WARN" />
  </logger>
  
  <logger name="Castle.Core">
    <level value="WARN" />
  </logger>
  
  <logger name="Castle.Services.Logging">
    <level value="WARN" />
  </logger>
</log4net>